.button {
	font-family: var(--lol-font-family-spiegel);
	display: inline-block;
	width: 200px;
	outline: none;

	border: 1px solid transparent;

	color: var(--lol-color-grey-100);
	padding: 0.375rem 1.5rem 0.375rem 0.5rem;

	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1rem;
	letter-spacing: 0.025em;
	text-align: left;

	background: var(--lol-select-image) no-repeat right 0.5rem center,
		var(--lol-select-background-gradient) padding-box,
		var(--lol-select-border-gradient) border-box;

	--lol-select-border-gradient: var(--lol-gradient-gold);
	--lol-select-background-gradient: var(--lol-gradient-hextech-black);

	--lol-select-image: url('./closed.png');

	&.open {
		--lol-select-image: url('./open.png');
		color: var(--lol-color-gold-600);
		--lol-select-background-gradient: var(--lol-gradient-grey-300);
		--lol-select-border-gradient: var(--lol-gradient-gold-press);
	}

	&.press {
		--lol-select-border-gradient: var(--lol-gradient-gold-press);
	}

	&.hover {
		--lol-select-border-gradient: var(--lol-gradient-gold-hover);
	}

	&.disabled {
		--lol-select-border-gradient: var(--lol-gradient-disabled);
	}
}

.listBox {
	background-color: var(--lol-color-hextech-black);
	border: 1px solid var(--lol-color-gold-600);
	outline: none;
}


.item {
	border-bottom: 1px solid var(--lol-color-grey-300);
	color: var(--lol-color-gold-300);
	font-size: var(--lol-font-size-sm);
	font-weight: var(--lol-font-weight-sm);
	line-height: var(--lol-line-height-sm);
	letter-spacing: var(--lol-letter-spacing-sm);
	padding: 0.375rem 0.5rem;
	outline: none;
	cursor: pointer;

	&.hover {
		background-color: var(--lol-color-grey-300);
		color: var(--lol-color-gold-100);
	}

	&.press {
		background-color: color-mix(in srgb, var(--lol-color-grey-300), transparent 50%);
		color: var(--lol-color-gold-600);
	}

	&.selected {
		background-image: url(./dropdown-check.png);
		background-position: right 0.5rem center;
		background-repeat: no-repeat;
	}
}