.trigger {
	color: var(--lol-color-grey-100);
	font-family: var(--lol-font-family-beaufort);
	&:active, &:hover {
		color: var(--lol-color-gold-100);
	}
	display: flex;
	width: 100%;
	align-items: center;
	padding: 0.5rem 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

.triggerIcon {
	margin-left: .125rem;
	margin-right: .5rem;
	display: inline-block;
	rotate: 90deg;
	font-size: var(--lol-font-size-sm);
}

.item {
	border-bottom: 1px solid var(--lol-color-gold-600);
	&:last-of-type {
		border-bottom: none;
	}
}

.content {
	padding: 1rem 0;
	color: var(--lol-color-grey-100);
	font-family: var(--lol-font-family-spiegel);
}