.button {
	border-radius: 0px;
	border: 2px solid transparent;
	outline: none;
	transition: all;
	transition-duration: 0.3s;

	font-family: var(--lol-font-family-beaufort);
	color: var(--lol-color-gold-300);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 1rem;

	background: var(--lol-button-background-gradient) padding-box,
		var(--lol-button-border-gradient) border-box;
	display: inline-block;
}

.text {

	&.round,
	&.square {
		&.hover {
			--lol-button-background-gradient: var(--lol-gradient-grey-300);
			--lol-button-border-gradient: var(--lol-gradient-transparent);
		}
	}

	&.round,
	&.square,
	&.normal {
		position: relative;

		&::after {
			position: absolute;
			top: -0.5rem;
			left: -0.5rem;
			bottom: -0.5rem;
			right: -0.5rem;
			content: '';
		}
	}
}

.hover {
	color: var(--lol-color-gold-100);
}

.press {
	color: var(--lol-color-grey-150);
}

.disabled {
	color: var(--lol-color-grey-150);
	cursor: default;
}

.hextech {
	color: var(--lol-color-blue-100);
	--lol-button-border-gradient: var(--lol-gradient-hextech);
	--lol-button-background-gradient: var(--lol-gradient-grey-300);

	&.hover {
		color: var(--lol-color-blue-100);
		--lol-button-border-gradient: var(--lol-gradient-hextech-hover);
	}

	&.press {
		color: var(--lol-color-blue-400);
		--lol-button-border-gradient: var(--lol-gradient-hextech-press);
	}

	&.disabled {
		color: var(--lol-color-grey-150);
		--lol-button-border-gradient: var(--lol-gradient-disabled);
	}
}

.dimmed {
	--lol-button-background-gradient: var(--lol-gradient-hextech-black);
	--lol-button-border-gradient: var(--lol-gradient-grey-300);

	&.selected {
		--lol-button-border-gradient: var(--lol-gradient-gold);
	}
}

.primary {
	--lol-button-border-gradient: var(--lol-gradient-gold);
	--lol-button-background-gradient: linear-gradient(to top, var(--lol-color-gold-600), var(--lol-color-gold-600), var(--lol-color-gold-700));

	&.hover {
		--lol-button-background-gradient: linear-gradient(to top, var(--lol-color-gold-600), var(--lol-color-gold-600), var(--lol-color-gold-500));
	}

	&.press {
		--lol-button-background-gradient: linear-gradient(to top, var(--lol-color-gold-600), var(--lol-color-gold-700), var(--lol-color-gold-700));
	}
}

.primary,
.secondary,
.hextech,
.dimmed {
	padding: 0.5rem 1rem;
}

.secondary {
	--lol-button-border-gradient: var(--lol-gradient-gold);
	--lol-button-background-gradient: var(--lol-gradient-grey-300);
}

.primary.hover,
.secondary.hover,
.dimmed.hover {
	--lol-button-border-gradient: var(--lol-gradient-gold-hover);
}


.primary.press,
.secondary.press,
.dimmed.press {
	--lol-button-border-gradient: var(--lol-gradient-gold-press);
}


.primary.disabled,
.secondary.disabled,
.dimmed.disabled {
	--lol-button-border-gradient: var(--lol-gradient-disabled);
}

.primary.focusVisible,
.secondary.focusVisible {
	outline-style: solid;
	outline-offset: 2px;
	outline-color: var(--lol-color-gold-400);
}

.round {
	border-radius: 9999px;
}

.round,
.square {
	display: flex;
	aspect-ratio: 1/1;
	height: 2rem;
	align-items: center;
	justify-content: center;
	padding: 0px;
	font-weight: 900;
	line-height: 1;
}

.thin {
	border-width: 1px;
}

.selected {
	--lol-button-background-gradient: var(--lol-gradient-hextech);
	box-shadow: inset 0 2px 4px 0 var(--lol-color-grey-300);
	color: var(--lol-color-blue-100);
}